<h2>Registro</h2>

<form (ngSubmit)="submit()">
  <label>
    Perfil
    <select [(ngModel)]="rol" name="role">
      <option value="paciente">Paciente</option>
      <option value="especialista">Especialista</option>
    </select>
  </label>

  <div class="grid">
    <label>Nombre<input name="nombre" [(ngModel)]="nombre" required /></label>
    <label>Apellido<input name="apellido" [(ngModel)]="apellido" required /></label>
    <label>Edad<input type="number" name="edad" [(ngModel)]="edad" min="0" /></label>
    <label>DNI<input name="dni" [(ngModel)]="dni" required /></label>

    <label *ngIf="rol === 'paciente'">Obra Social<input name="obra" [(ngModel)]="obra_social" /></label>

    <label>
      Email<input type="email" name="email" [(ngModel)]="email" required />
    </label>
    <label>
      Contraseña<input
        type="password"
        name="password"
        [(ngModel)]="password"
        required
      />
    </label>

    <div *ngIf="rol === 'paciente'">
      <p>Subir 2 imágenes de perfil (obligatorio)</p>
      <input
        type="file"
        (change)="onFileChange('p1', $event)"
        accept="image/*"
      />
      <input
        type="file"
        (change)="onFileChange('p2', $event)"
        accept="image/*"
      />
    </div>

    <div *ngIf="rol === 'especialista'">
      <p>Imagen de perfil</p>
      <input
        type="file"
        (change)="onFileChange('esp', $event)"
        accept="image/*"
      />
      <label>
        Especialidad existente
        <select [(ngModel)]="selectedSpecialtyId" name="selEspecialidad">
          <option [ngValue]="null">-- Seleccione --</option>
          <option *ngFor="let s of specialties()" [value]="s.id">
            {{ s.nombre }}
          </option>
        </select>
      </label>
      <div>
        <input
          placeholder="Agregar nueva"
          [(ngModel)]="especialidadNueva"
          name="espNueva"
        />
        <button type="button" (click)="addSpecialty()">Agregar</button>
      </div>
    </div>
  </div>

  <button type="submit" [disabled]="loading">Crear cuenta</button>
</form>
