<h3>Encuesta de atención</h3>

<div class="mb-3">
  <label class="form-label">¿Te atendieron a horario?</label><br />
  <label class="me-3"
    ><input type="radio" [(ngModel)]="p1" name="p1" value="si" /> Sí</label
  >
  <label><input type="radio" [(ngModel)]="p1" name="p1" value="no" /> No</label>
</div>

<div class="mb-3">
  <label class="form-label">¿Recomendarías al especialista?</label><br />
  <label class="me-3"
    ><input type="radio" [(ngModel)]="p2" name="p2" value="si" /> Sí</label
  >
  <label><input type="radio" [(ngModel)]="p2" name="p2" value="no" /> No</label>
</div>

<div class="mb-3">
  <label class="form-label">Comentario (opcional)</label>
  <textarea class="form-control" rows="3" [(ngModel)]="p3"></textarea>
</div>

<button class="btn btn-primary" (click)="enviar()">Enviar</button>
